.App {
  text-align: center;
}

body {
  background-image: url(jumbotron_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding: 10px;
  margin: 5px;
}

.input-group {
  width: 60%;
  height: 20%;
}

.titulos {
  text-decoration: underline;
}

.card {
  max-width: 60%;
  background: linear-gradient(#0b486b, #f56217);


}



.title {
  position: center;
  padding: 20px;


}

/* .fondo{
 
} */
.divpadreactual {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.actual {
  width: 600px;
  background-image: url(https://cdn.wallpapersafari.com/4/89/ShoYtm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  opacity: 90%;
  color: white;

}

.forecast {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  margin: 5px;
}

.tarjeta {

  border: 1px solid;
  text-align: center;
  width: 200px;
  height: 280px;
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
}